{
	"singleQuote": false,
	"trailingComma": "all",
	"semi": true,
	"printWidth": 180,
	"tabWidth": 2,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
